.fl-b-red-1 { border: 1px solid #ffe5e5; }
.fl-b-red-2 { border: 1px solid #ffcccc; }
.fl-b-red-3 { border: 1px solid #ffb2b2; }
.fl-b-red-4 { border: 1px solid #ff9999; }
.fl-b-red-5 { border: 1px solid #ff7f7f; }
.fl-b-red-6 { border: 1px solid #ff6666; }
.fl-b-red-7 { border: 1px solid #ff4c4c; }
.fl-b-red-8 { border: 1px solid #ff3232; }
.fl-b-red-9 { border: 1px solid #ff1919; }
.fl-b-red-10 { border: 1px solid #ff0000; }
.fl-b-red-11 { border: 1px solid #e50000; }
.fl-b-red-12 { border: 1px solid #cc0000; }
.fl-b-red-13 { border: 1px solid #b20000; }
.fl-b-red-14 { border: 1px solid #990000; }
.fl-b-red-15 { border: 1px solid #7f0000; }
.fl-b-red-16 { border: 1px solid #660000; }
.fl-b-red-17 { border: 1px solid #4c0000; }
.fl-b-red-18 { border: 1px solid #330000; }
.fl-b-red-19 { border: 1px solid #190000; }

.fl-b-orange-1 { border: 1px solid #fff6e5; }
.fl-b-orange-2 { border: 1px solid #ffedcc; }
.fl-b-orange-3 { border: 1px solid #ffe4b2; }
.fl-b-orange-4 { border: 1px solid #ffdb99; }
.fl-b-orange-5 { border: 1px solid #ffd27f; }
.fl-b-orange-6 { border: 1px solid #ffc966; }
.fl-b-orange-7 { border: 1px solid #ffc04c; }
.fl-b-orange-8 { border: 1px solid #ffb732; }
.fl-b-orange-9 { border: 1px solid #ffae19; }
.fl-b-orange-10 { border: 1px solid #ffa500; }
.fl-b-orange-11 { border: 1px solid #e59400; }
.fl-b-orange-12 { border: 1px solid #cc8400; }
.fl-b-orange-13 { border: 1px solid #b27300; }
.fl-b-orange-14 { border: 1px solid #996300; }
.fl-b-orange-15 { border: 1px solid #7f5200; }
.fl-b-orange-16 { border: 1px solid #664200; }
.fl-b-orange-17 { border: 1px solid #4c3100; }
.fl-b-orange-18 { border: 1px solid #332100; }
.fl-b-orange-19 { border: 1px solid #191000; }

.fl-b-yellow-1 { border: 1px solid #ffffe5; }
.fl-b-yellow-2 { border: 1px solid #ffffcc; }
.fl-b-yellow-3 { border: 1px solid #ffffb2; }
.fl-b-yellow-4 { border: 1px solid #ffff99; }
.fl-b-yellow-5 { border: 1px solid #ffff7f; }
.fl-b-yellow-6 { border: 1px solid #ffff66; }
.fl-b-yellow-7 { border: 1px solid #ffff4c; }
.fl-b-yellow-8 { border: 1px solid #ffff32; }
.fl-b-yellow-9 { border: 1px solid #ffff19; }
.fl-b-yellow-10 { border: 1px solid #ffff00; }
.fl-b-yellow-11 { border: 1px solid #e5e500; }
.fl-b-yellow-12 { border: 1px solid #cccc00; }
.fl-b-yellow-13 { border: 1px solid #b2b200; }
.fl-b-yellow-14 { border: 1px solid #999900; }
.fl-b-yellow-15 { border: 1px solid #7f7f00; }
.fl-b-yellow-16 { border: 1px solid #666600; }
.fl-b-yellow-17 { border: 1px solid #4c4c00; }
.fl-b-yellow-18 { border: 1px solid #333300; }
.fl-b-yellow-19 { border: 1px solid #191900; }

.fl-b-lightgreen-1 { border: 1px solid #f3fdf3; }
.fl-b-lightgreen-2 { border: 1px solid #e8fbe8; }
.fl-b-lightgreen-3 { border: 1px solid #ddf9dd; }
.fl-b-lightgreen-4 { border: 1px solid #d2f8d2; }
.fl-b-lightgreen-5 { border: 1px solid #c7f6c7; }
.fl-b-lightgreen-6 { border: 1px solid #bcf4bc; }
.fl-b-lightgreen-7 { border: 1px solid #b1f3b1; }
.fl-b-lightgreen-8 { border: 1px solid #a6f1a6; }
.fl-b-lightgreen-9 { border: 1px solid #9bef9b; }
.fl-b-lightgreen-10 { border: 1px solid #90ee90; }
.fl-b-lightgreen-11 { border: 1px solid #81d681; }
.fl-b-lightgreen-12 { border: 1px solid #73be73; }
.fl-b-lightgreen-13 { border: 1px solid #64a664; }
.fl-b-lightgreen-14 { border: 1px solid #568e56; }
.fl-b-lightgreen-15 { border: 1px solid #487748; }
.fl-b-lightgreen-16 { border: 1px solid #395f39; }
.fl-b-lightgreen-17 { border: 1px solid #2b472b; }
.fl-b-lightgreen-18 { border: 1px solid #1c2f1c; }
.fl-b-lightgreen-19 { border: 1px solid #0e170e; }

.fl-b-green-1 { border: 1px solid #e5f2e5; }
.fl-b-green-2 { border: 1px solid #cce5cc; }
.fl-b-green-3 { border: 1px solid #b2d8b2; }
.fl-b-green-4 { border: 1px solid #99cc99; }
.fl-b-green-5 { border: 1px solid #7fbf7f; }
.fl-b-green-6 { border: 1px solid #66b266; }
.fl-b-green-7 { border: 1px solid #4ca64c; }
.fl-b-green-8 { border: 1px solid #329932; }
.fl-b-green-9 { border: 1px solid #198c19; }
.fl-b-green-10 { border: 1px solid #008000; }
.fl-b-green-11 { border: 1px solid #007300; }
.fl-b-green-12 { border: 1px solid #006600; }
.fl-b-green-13 { border: 1px solid #005900; }
.fl-b-green-14 { border: 1px solid #004c00; }
.fl-b-green-15 { border: 1px solid #004000; }
.fl-b-green-16 { border: 1px solid #003300; }
.fl-b-green-17 { border: 1px solid #002600; }
.fl-b-green-18 { border: 1px solid #001900; }
.fl-b-green-19 { border: 1px solid #000c00; }

.fl-b-lightblue-1 { border: 1px solid #f6fbfc; }
.fl-b-lightblue-2 { border: 1px solid #eef7fa; }
.fl-b-lightblue-3 { border: 1px solid #e6f3f7; }
.fl-b-lightblue-4 { border: 1px solid #deeff5; }
.fl-b-lightblue-5 { border: 1px solid #d6ebf2; }
.fl-b-lightblue-6 { border: 1px solid #cde7f0; }
.fl-b-lightblue-7 { border: 1px solid #c5e3ed; }
.fl-b-lightblue-8 { border: 1px solid #bddfeb; }
.fl-b-lightblue-9 { border: 1px solid #b5dbe8; }
.fl-b-lightblue-10 { border: 1px solid #add8e6; }
.fl-b-lightblue-11 { border: 1px solid #9bc2cf; }
.fl-b-lightblue-12 { border: 1px solid #8aacb8; }
.fl-b-lightblue-13 { border: 1px solid #7997a1; }
.fl-b-lightblue-14 { border: 1px solid #67818a; }
.fl-b-lightblue-15 { border: 1px solid #566c73; }
.fl-b-lightblue-16 { border: 1px solid #45565c; }
.fl-b-lightblue-17 { border: 1px solid #334045; }
.fl-b-lightblue-18 { border: 1px solid #222b2e; }
.fl-b-lightblue-19 { border: 1px solid #111517; }

.fl-b-blue-1 { border: 1px solid #e5e5ff; }
.fl-b-blue-2 { border: 1px solid #ccccff; }
.fl-b-blue-3 { border: 1px solid #b2b2ff; }
.fl-b-blue-4 { border: 1px solid #9999ff; }
.fl-b-blue-5 { border: 1px solid #7f7fff; }
.fl-b-blue-6 { border: 1px solid #6666ff; }
.fl-b-blue-7 { border: 1px solid #4c4cff; }
.fl-b-blue-8 { border: 1px solid #3232ff; }
.fl-b-blue-9 { border: 1px solid #1919ff; }
.fl-b-blue-10 { border: 1px solid #0000ff; }
.fl-b-blue-11 { border: 1px solid #0000e5; }
.fl-b-blue-12 { border: 1px solid #0000cc; }
.fl-b-blue-13 { border: 1px solid #0000b2; }
.fl-b-blue-14 { border: 1px solid #000099; }
.fl-b-blue-15 { border: 1px solid #00007f; }
.fl-b-blue-16 { border: 1px solid #000066; }
.fl-b-blue-17 { border: 1px solid #00004c; }
.fl-b-blue-18 { border: 1px solid #000033; }
.fl-b-blue-19 { border: 1px solid #000019; }

.fl-b-purple-1 { border: 1px solid #f2e5f2; }
.fl-b-purple-2 { border: 1px solid #e5cce5; }
.fl-b-purple-3 { border: 1px solid #d8b2d8; }
.fl-b-purple-4 { border: 1px solid #cc99cc; }
.fl-b-purple-5 { border: 1px solid #bf7fbf; }
.fl-b-purple-6 { border: 1px solid #b266b2; }
.fl-b-purple-7 { border: 1px solid #a64ca6; }
.fl-b-purple-8 { border: 1px solid #993299; }
.fl-b-purple-9 { border: 1px solid #8c198c; }
.fl-b-purple-10 { border: 1px solid #800080; }
.fl-b-purple-11 { border: 1px solid #730073; }
.fl-b-purple-12 { border: 1px solid #660066; }
.fl-b-purple-13 { border: 1px solid #590059; }
.fl-b-purple-14 { border: 1px solid #4c004c; }
.fl-b-purple-15 { border: 1px solid #400040; }
.fl-b-purple-16 { border: 1px solid #330033; }
.fl-b-purple-17 { border: 1px solid #260026; }
.fl-b-purple-18 { border: 1px solid #190019; }
.fl-b-purple-19 { border: 1px solid #0c000c; }

.fl-b-grey-1 { border: 1px solid #f2f2f2; }
.fl-b-grey-2 { border: 1px solid #e5e5e5; }
.fl-b-grey-3 { border: 1px solid #d8d8d8; }
.fl-b-grey-4 { border: 1px solid #cccccc; }
.fl-b-grey-5 { border: 1px solid #bfbfbf; }
.fl-b-grey-6 { border: 1px solid #b2b2b2; }
.fl-b-grey-7 { border: 1px solid #a6a6a6; }
.fl-b-grey-8 { border: 1px solid #999999; }
.fl-b-grey-9 { border: 1px solid #8c8c8c; }
.fl-b-grey-10 { border: 1px solid #808080; }
.fl-b-grey-11 { border: 1px solid #737373; }
.fl-b-grey-12 { border: 1px solid #666666; }
.fl-b-grey-13 { border: 1px solid #595959; }
.fl-b-grey-14 { border: 1px solid #4c4c4c; }
.fl-b-grey-15 { border: 1px solid #404040; }
.fl-b-grey-16 { border: 1px solid #333333; }
.fl-b-grey-17 { border: 1px solid #262626; }
.fl-b-grey-18 { border: 1px solid #191919; }
.fl-b-grey-19 { border: 1px solid #0c0c0c; }

.fl-b-white { border: 1px solid  #ffffff; }