.fl-o-red-1 { outline:#ffe5e5 solid 1px; }
.fl-o-red-2 { outline:#ffcccc solid 1px; }
.fl-o-red-3 { outline:#ffb2b2 solid 1px; }
.fl-o-red-4 { outline:#ff9999 solid 1px; }
.fl-o-red-5 { outline:#ff7f7f solid 1px; }
.fl-o-red-6 { outline:#ff6666 solid 1px; }
.fl-o-red-7 { outline:#ff4c4c solid 1px; }
.fl-o-red-8 { outline:#ff3232 solid 1px; }
.fl-o-red-9 { outline:#ff1919 solid 1px; }
.fl-o-red-10 { outline:#ff0000 solid 1px; }
.fl-o-red-11 { outline:#e50000 solid 1px; }
.fl-o-red-12 { outline:#cc0000 solid 1px; }
.fl-o-red-13 { outline:#b20000 solid 1px; }
.fl-o-red-14 { outline:#990000 solid 1px; }
.fl-o-red-15 { outline:#7f0000 solid 1px; }
.fl-o-red-16 { outline:#660000 solid 1px; }
.fl-o-red-17 { outline:#4c0000 solid 1px; }
.fl-o-red-18 { outline:#330000 solid 1px; }
.fl-o-red-19 { outline:#190000 solid 1px; }

.fl-o-orange-1 { outline:#fff6e5 solid 1px; }
.fl-o-orange-2 { outline:#ffedcc solid 1px; }
.fl-o-orange-3 { outline:#ffe4b2 solid 1px; }
.fl-o-orange-4 { outline:#ffdb99 solid 1px; }
.fl-o-orange-5 { outline:#ffd27f solid 1px; }
.fl-o-orange-6 { outline:#ffc966 solid 1px; }
.fl-o-orange-7 { outline:#ffc04c solid 1px; }
.fl-o-orange-8 { outline:#ffb732 solid 1px; }
.fl-o-orange-9 { outline:#ffae19 solid 1px; }
.fl-o-orange-10 { outline:#ffa500 solid 1px; }
.fl-o-orange-11 { outline:#e59400 solid 1px; }
.fl-o-orange-12 { outline:#cc8400 solid 1px; }
.fl-o-orange-13 { outline:#b27300 solid 1px; }
.fl-o-orange-14 { outline:#996300 solid 1px; }
.fl-o-orange-15 { outline:#7f5200 solid 1px; }
.fl-o-orange-16 { outline:#664200 solid 1px; }
.fl-o-orange-17 { outline:#4c3100 solid 1px; }
.fl-o-orange-18 { outline:#332100 solid 1px; }
.fl-o-orange-19 { outline:#191000 solid 1px; }

.fl-o-yellow-1 { outline:#ffffe5 solid 1px; }
.fl-o-yellow-2 { outline:#ffffcc solid 1px; }
.fl-o-yellow-3 { outline:#ffffb2 solid 1px; }
.fl-o-yellow-4 { outline:#ffff99 solid 1px; }
.fl-o-yellow-5 { outline:#ffff7f solid 1px; }
.fl-o-yellow-6 { outline:#ffff66 solid 1px; }
.fl-o-yellow-7 { outline:#ffff4c solid 1px; }
.fl-o-yellow-8 { outline:#ffff32 solid 1px; }
.fl-o-yellow-9 { outline:#ffff19 solid 1px; }
.fl-o-yellow-10 { outline:#ffff00 solid 1px; }
.fl-o-yellow-11 { outline:#e5e500 solid 1px; }
.fl-o-yellow-12 { outline:#cccc00 solid 1px; }
.fl-o-yellow-13 { outline:#b2b200 solid 1px; }
.fl-o-yellow-14 { outline:#999900 solid 1px; }
.fl-o-yellow-15 { outline:#7f7f00 solid 1px; }
.fl-o-yellow-16 { outline:#666600 solid 1px; }
.fl-o-yellow-17 { outline:#4c4c00 solid 1px; }
.fl-o-yellow-18 { outline:#333300 solid 1px; }
.fl-o-yellow-19 { outline:#191900 solid 1px; }

.fl-o-lightgreen-1 { outline:#f3fdf3 solid 1px; }
.fl-o-lightgreen-2 { outline:#e8fbe8 solid 1px; }
.fl-o-lightgreen-3 { outline:#ddf9dd solid 1px; }
.fl-o-lightgreen-4 { outline:#d2f8d2 solid 1px; }
.fl-o-lightgreen-5 { outline:#c7f6c7 solid 1px; }
.fl-o-lightgreen-6 { outline:#bcf4bc solid 1px; }
.fl-o-lightgreen-7 { outline:#b1f3b1 solid 1px; }
.fl-o-lightgreen-8 { outline:#a6f1a6 solid 1px; }
.fl-o-lightgreen-9 { outline:#9bef9b solid 1px; }
.fl-o-lightgreen-10 { outline:#90ee90 solid 1px; }
.fl-o-lightgreen-11 { outline:#81d681 solid 1px; }
.fl-o-lightgreen-12 { outline:#73be73 solid 1px; }
.fl-o-lightgreen-13 { outline:#64a664 solid 1px; }
.fl-o-lightgreen-14 { outline:#568e56 solid 1px; }
.fl-o-lightgreen-15 { outline:#487748 solid 1px; }
.fl-o-lightgreen-16 { outline:#395f39 solid 1px; }
.fl-o-lightgreen-17 { outline:#2b472b solid 1px; }
.fl-o-lightgreen-18 { outline:#1c2f1c solid 1px; }
.fl-o-lightgreen-19 { outline:#0e170e solid 1px; }

.fl-o-green-1 { outline:#e5f2e5 solid 1px; }
.fl-o-green-2 { outline:#cce5cc solid 1px; }
.fl-o-green-3 { outline:#b2d8b2 solid 1px; }
.fl-o-green-4 { outline:#99cc99 solid 1px; }
.fl-o-green-5 { outline:#7fbf7f solid 1px; }
.fl-o-green-6 { outline:#66b266 solid 1px; }
.fl-o-green-7 { outline:#4ca64c solid 1px; }
.fl-o-green-8 { outline:#329932 solid 1px; }
.fl-o-green-9 { outline:#198c19 solid 1px; }
.fl-o-green-10 { outline:#008000 solid 1px; }
.fl-o-green-11 { outline:#007300 solid 1px; }
.fl-o-green-12 { outline:#006600 solid 1px; }
.fl-o-green-13 { outline:#005900 solid 1px; }
.fl-o-green-14 { outline:#004c00 solid 1px; }
.fl-o-green-15 { outline:#004000 solid 1px; }
.fl-o-green-16 { outline:#003300 solid 1px; }
.fl-o-green-17 { outline:#002600 solid 1px; }
.fl-o-green-18 { outline:#001900 solid 1px; }
.fl-o-green-19 { outline:#000c00 solid 1px; }

.fl-o-lightblue-1 { outline:#f6fbfc solid 1px; }
.fl-o-lightblue-2 { outline:#eef7fa solid 1px; }
.fl-o-lightblue-3 { outline:#e6f3f7 solid 1px; }
.fl-o-lightblue-4 { outline:#deeff5 solid 1px; }
.fl-o-lightblue-5 { outline:#d6ebf2 solid 1px; }
.fl-o-lightblue-6 { outline:#cde7f0 solid 1px; }
.fl-o-lightblue-7 { outline:#c5e3ed solid 1px; }
.fl-o-lightblue-8 { outline:#bddfeb solid 1px; }
.fl-o-lightblue-9 { outline:#b5dbe8 solid 1px; }
.fl-o-lightblue-10 { outline:#add8e6 solid 1px; }
.fl-o-lightblue-11 { outline:#9bc2cf solid 1px; }
.fl-o-lightblue-12 { outline:#8aacb8 solid 1px; }
.fl-o-lightblue-13 { outline:#7997a1 solid 1px; }
.fl-o-lightblue-14 { outline:#67818a solid 1px; }
.fl-o-lightblue-15 { outline:#566c73 solid 1px; }
.fl-o-lightblue-16 { outline:#45565c solid 1px; }
.fl-o-lightblue-17 { outline:#334045 solid 1px; }
.fl-o-lightblue-18 { outline:#222b2e solid 1px; }
.fl-o-lightblue-19 { outline:#111517 solid 1px; }

.fl-o-blue-1 { outline:#e5e5ff solid 1px; }
.fl-o-blue-2 { outline:#ccccff solid 1px; }
.fl-o-blue-3 { outline:#b2b2ff solid 1px; }
.fl-o-blue-4 { outline:#9999ff solid 1px; }
.fl-o-blue-5 { outline:#7f7fff solid 1px; }
.fl-o-blue-6 { outline:#6666ff solid 1px; }
.fl-o-blue-7 { outline:#4c4cff solid 1px; }
.fl-o-blue-8 { outline:#3232ff solid 1px; }
.fl-o-blue-9 { outline:#1919ff solid 1px; }
.fl-o-blue-10 { outline:#0000ff solid 1px; }
.fl-o-blue-11 { outline:#0000e5 solid 1px; }
.fl-o-blue-12 { outline:#0000cc solid 1px; }
.fl-o-blue-13 { outline:#0000b2 solid 1px; }
.fl-o-blue-14 { outline:#000099 solid 1px; }
.fl-o-blue-15 { outline:#00007f solid 1px; }
.fl-o-blue-16 { outline:#000066 solid 1px; }
.fl-o-blue-17 { outline:#00004c solid 1px; }
.fl-o-blue-18 { outline:#000033 solid 1px; }
.fl-o-blue-19 { outline:#000019 solid 1px; }

.fl-o-purple-1 { outline:#f2e5f2 solid 1px; }
.fl-o-purple-2 { outline:#e5cce5 solid 1px; }
.fl-o-purple-3 { outline:#d8b2d8 solid 1px; }
.fl-o-purple-4 { outline:#cc99cc solid 1px; }
.fl-o-purple-5 { outline:#bf7fbf solid 1px; }
.fl-o-purple-6 { outline:#b266b2 solid 1px; }
.fl-o-purple-7 { outline:#a64ca6 solid 1px; }
.fl-o-purple-8 { outline:#993299 solid 1px; }
.fl-o-purple-9 { outline:#8c198c solid 1px; }
.fl-o-purple-10 { outline:#800080 solid 1px; }
.fl-o-purple-11 { outline:#730073 solid 1px; }
.fl-o-purple-12 { outline:#660066 solid 1px; }
.fl-o-purple-13 { outline:#590059 solid 1px; }
.fl-o-purple-14 { outline:#4c004c solid 1px; }
.fl-o-purple-15 { outline:#400040 solid 1px; }
.fl-o-purple-16 { outline:#330033 solid 1px; }
.fl-o-purple-17 { outline:#260026 solid 1px; }
.fl-o-purple-18 { outline:#190019 solid 1px; }
.fl-o-purple-19 { outline:#0c000c solid 1px; }

.fl-o-grey-1 { outline:#f2f2f2 solid 1px; }
.fl-o-grey-2 { outline:#e5e5e5 solid 1px; }
.fl-o-grey-3 { outline:#d8d8d8 solid 1px; }
.fl-o-grey-4 { outline:#cccccc solid 1px; }
.fl-o-grey-5 { outline:#bfbfbf solid 1px; }
.fl-o-grey-6 { outline:#b2b2b2 solid 1px; }
.fl-o-grey-7 { outline:#a6a6a6 solid 1px; }
.fl-o-grey-8 { outline:#999999 solid 1px; }
.fl-o-grey-9 { outline:#8c8c8c solid 1px; }
.fl-o-grey-10 { outline:#808080 solid 1px; }
.fl-o-grey-11 { outline:#737373 solid 1px; }
.fl-o-grey-12 { outline:#666666 solid 1px; }
.fl-o-grey-13 { outline:#595959 solid 1px; }
.fl-o-grey-14 { outline:#4c4c4c solid 1px; }
.fl-o-grey-15 { outline:#404040 solid 1px; }
.fl-o-grey-16 { outline:#333333 solid 1px; }
.fl-o-grey-17 { outline:#262626 solid 1px; }
.fl-o-grey-18 { outline:#191919 solid 1px; }
.fl-o-grey-19 { outline:#0c0c0c solid 1px; }

.fl-o-white { outline: #ffffff solid 1px; }